body{
    width: 100%;
    margin: opx auto;
    background-color:#000000;
}
#teste{
    width: 70%;
    margin: opx auto;
    background-color:#df3e3e;
}
h1,p{
    text-align: center;
}
h4,p{
    text-align: center;
}
#lista{
    text-align: center;
}
