body{
    width: 100%;
    margin: opx auto;
    background-color:#000000;
    overflow-y: hidden; /* Esconde a barra lateral scroll */
    overflow-x: hidden; /* Esconde a barra vertical scroll*/
    font-size: 16px; /*tamanho da fonte padrão do codigo*/
    font-family: "Open Sans", sans-serif; /*Nome da fonte do google fontes*/
    color: white;
}
.central{
    text-align: center;
}
#menu{
    width: 40%;
    margin-left: 400px;
}
#menu ul{
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    list-style: none;
    text-align: center;
}
#menu ul li{
    margin: 0px;
    display: inline;
    text-align: center;
}
#menu ul li a{
    padding: 10px 10px;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.hidden{
    display: none;
}
img{
    text-align: center;
    display: block;
    margin: 0px auto;
    border-radius: 100%;
}
#lista{
    text-align: center;
    list-style-type: none; /*Retira o indide*/
}
