body{
    width: 100%;
    margin: opx auto;
    background-color:#000000;
    overflow-y: hidden;
    overflow-x: hidden;
}
html{     /* html é o elemento pai da pagina */
    font-size: 18px; /*tamanho da fonte padrão do codigo*/
    font-family: "Open Sans", sans-serif; /*Nome da fonte do google fontes*/
}
#teste{
    width: 70%;
    margin: opx auto;
    background-color:#df3e3e;
}
h1,p{
    text-align: center;
}
img{
    text-align: center;
    display: block;
    margin: 0px auto;
}
h4,p{
    text-align: center;
}
#lista{
    text-align: center;
}
